node_modules
# server/users/
# server/project/
server/out/
/out/
.DS_Store
.vscode/settings.json
.zed/settings.json
server/package-lock.json
server/package.json
# package.json
package-lock.json

# newer stuff after moving to digital ocean
server/challenges
server/data
server/lesson
server/project
server/projects
server/users

server/challenges_old
server/data_old
server/lesson_old
server/project_old
server/projects_old
server/users_old