@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0);
@import url(styles/theme.css);
@import url(styles/util.css);

:root {
    --bg-col: rgb(216, 216, 216);
    --secondary-bg-col:white;
    --col: black;
    --cta-btn-col: rgb(56, 71, 119); 
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --secondary-col:white;
    --tertiary-col: rgb(97, 106, 138);

    --lighten0:rgba(255,255,255,0.25);
    --lighten:rgba(255,255,255,0.1);
    --lighten2:rgba(255,255,255,0.05);
    --darken0:rgba(0,0,0,0.25);
    --darken:rgba(0,0,0,0.1);
    --darken2:rgba(0,0,0,0.05);
    --another-col:rgb(178, 183, 201);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font);
    background-color: var(--bg-col);
    color: var(--col);
}

a {
    text-decoration: none;
    color: var(--col);
}

.nav-container {
    background-color: var(--secondary-bg-col);
    width: 100%;
    position: sticky;
    top: 0px;
    height: 100px;
    padding-block: 1em;

    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}

.logo-thumbnail {
    height: 50px;
    width: 50px;
    fill: cover;
    border-radius: 4px;
    filter: grayscale(1);
}

.logo {
    margin-left: 1em;
    justify-self: self-start;
}

.nav-links {
    margin-inline: 1em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1em;
    justify-self: end;
}

.nav-links >* {
    color: var(--secondary-col);
    padding-inline: 1em;
    padding-block: 0.7em;
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bolder;

    transform: scale(1);
    transition-timing-function: ease-in;
    transform-origin: bottom;
    transition-duration: 0.15s;
}

.nav-links >*:hover {
    transform: scale(1.05);
}

.nav-links >*:not(.active) {
    background-color: var(--col);
}

.learn-link.active {
    background-color: var(--cta-btn-col);
    color:white;
}

.practice-link.active {
    background-color: var(--tertiary-col);
}

.experiment-link.active {
    background-color: var(--another-col);
    color: var(--col);
}

.cards-container {
    height: calc(100dvh - 100px);
    display: grid;
    grid-template-rows: auto auto;
    padding-inline: 8em;
    align-content: center;
    justify-content: center;
}

.cards {
    display: grid;
    align-content: center;
    justify-content: center;
    position: relative;
    height: 340px;
    width: 800px;
    margin-bottom: calc(2em + 40px);
}

.card {
    padding-inline: 2em;
    padding-block: 4em;
    border-radius: 5px;
    color: var(--secondary-col);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
    align-items: center;
    height: 340px;
    width: 800px;

    position: absolute;
    animation-name: fade-from-left;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0,1.07,.71,.96);

    -webkit-box-shadow: 0px 10px 17px -11px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 10px 17px -11px rgba(0,0,0,0.54);
    box-shadow: 0px 10px 17px -11px rgba(0,0,0,0.54);

    transform: scale(1);
    transition-duration: 0.2s;
    cursor: pointer;

    &.current-card:hover{
        -webkit-box-shadow: 0px 10px 17px -11px rgba(0,0,0,1);
        -moz-box-shadow: 0px 10px 17px -11px rgba(0,0,0,1);
        box-shadow: 0px 10px 17px -11px rgba(0,0,0,1);
    }

    &:hover{
        transform: scale(1.01);
    }
}

@keyframes fade-from-left {
    0% {
        translate: 100px 0;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}

.learn-card {
    z-index: 2;
    background-color: var(--cta-btn-col);
    top: 0;
    left: 0;
}

.practice-card {
    z-index: 1;
    background-color: var(--tertiary-col);
    top: 20px;
    left: 20px;
    opacity: 0;
    
    animation-delay: 0.2s;
}

.experiment-card {
    opacity: 0;
    z-index: 0;
    background-color: var(--another-col);
    top: 40px;
    left: 40px;
    
    animation-delay: 0.4s;
}

.card-left, .card-right{
    text-align: start;
}

.card-left {
    font-size: 2.6rem;
}

.card-right {
    font-size: 1.6rem;
    border-left: 4px solid var(--secondary-col);
    padding-inline-start: 1em;
}

/* planning to toggle w/ js */
.card >*.hide-txt {
    visibility: hidden;
} 

.material-symbols-outlined{
    max-width:1em;
}

.card-controls {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;
    align-content: center;
    justify-content: center;
    width: 840px;

    animation-name: slide-up;
    animation-duration: 0.65s;
    animation-timing-function: cubic-bezier(0,1.07,.69,.95);
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    0% {
        translate: 0 100px;
        opacity: 0;
    }
    100% {
        translate: 0 0;
        opacity: 1;
    }
}

.card-btn {
    width: 12px;
    height: 8px;
    border-radius: 8px;
    background-color: var(--tertiary-col);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    transform-origin: center;

    &.active-card-btn {
        width: 160px;
        background-color: var(--cta-btn-col);
    }
}