body {
    background-color: #644c85;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    height: 100dvh;
    position: relative;
}

.tooltip {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    background-color: rgb(230, 231, 254);
    padding: 10px 15px;
    border-radius:5px;
    text-align:left;
}

.spoiler{
    background-color:rgb(23,23,23);
    color:rgb(23,23,23);
    padding:1px 5px;
    border-radius:2px;
    transition:background-color 0.2s ease;
    cursor: default;
    &:hover{
    background-color:white;
    }
}

.padlock {
    translate: 0px 70px;
    transition: all 0.3s ease-in-out;
    &.open {
        translate:0px 0px;
    }
}

.lock-body {
    background-color: rgb(230, 231, 254);
    height: 180px;
    width: 200px;
    position: relative;
    border-radius: 10px;

    >:nth-child(1) {
        top: 30%;
    }

    >:nth-child(2) {
        top: 48%;
    }

    >:nth-child(3) {
        top: 66%;
    }
}

.lock-value {
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(23, 23, 23);
    color: rgb(230, 231, 254);
    position: absolute;
    right: 40%;
    padding: 5px;
    padding-inline: 8px;
    user-select: none;
}