body {
    overflow: hidden;
    font-size: 2rem;
}

.introducing {
    left: 2em;
    top: 2em;
}

.showcase-img {
    display: none;
}

.co-title {
    font-size: 10rem;
}

button {
    padding: 18px 40px;
    border-radius: 5px;
}

.co-cont {
    left: 20vw;
    gap: 1em;
    max-width: 630px;
    transition-duration: .8s;
    transition-timing-function: ease-out;

    &.altpos {
        transform: translate(0,-300px);
        & .co-top {
            gap: 1em;
        }
    }
}

h1 {
    font-size: 1.5em;
}

.feature-cont {
    position: absolute;
    top: 42dvh;
    left: 10dvw;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 5px;
}