body {
    overflow: hidden;
}

.introducing {
    left: 2em;
    top: 2em;
}

.showcase-img {
    display: none;
}

.co-title {
    font-size: 8rem;
}

.co-text {
    font-size: 1.4rem;
}

.co-cont {
    left: 30vw;
    gap: 2em;
    width: 80vw;

    &.altpos {
        transform: translate(0,-50px);
        & .co-top {
            gap: 1em;
        }
    }
}

h1 {
    font-size: 1.5em;
}

.feature-cont {
    position: absolute;
    top: 60dvh;
    left: 15dvw;
    width: 80dvw;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.feature-body {
    font-size: 1.6rem;
}