@import url(/styles/theme.css);
@import url(/styles/util.css);

.f-outer-bottom {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.f-sets-cont {
    background-color: var(--learn-col);
    border-radius: 5px;
    height: 100%;
    position: relative;
}

.f-set {
    background-color: var(--secondary-bg-col);
    padding-block: 0.8em;
    padding-inline: 0.8em;
    width: 100%;
    border-radius: 2px;
    color: var(--col);

    &.f-set-active{
        background-color: var(--bg-col);
    }
}

.f-set-name {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.f-close {
    display: flex;
    justify-content: center;
    height: 24px;
    padding: .8em;
    align-items: center;
}

.f-outer-header, .f-title {
    font-size: 2rem;
    font-weight: bolder;

    >span {
        font-size: inherit;
    }
}

.f-arrow {
    height: 48px;
    width: 48px;
    padding: 1em 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:not([disabled]) {
        cursor: pointer;
    }
    /* &[disabled] { idk how i feel about this, if we add it elsewhere you can uncomment, otherwise greyed out button that does nothing should be evident - paul
        cursor: not-allowed;
    } */
}

.f-reset-cards {
    font-weight: regular !important;
    padding: 0.8em 1.6em;
    font-weight: 600;
    text-transform: uppercase;
}

.f-show-answer {
    background-color: var(--learn-col);
    padding: 1em 1.6em;
    font-weight: 600;
    text-transform: uppercase;
}

.f-cur-index {
    background-color: var(--col);
    color: var(--secondary-bg-col);
    border-radius: 3px;
    padding: .8em 1.4em;
    user-select: none;
}

.f-card {
    display: grid;
    align-items: center;
    background-color: var(--bg-col);
    height: 20em;
    width: 100%;
    border-radius: 5px;
    position: relative;
}

.f-card-prompt {
    font-size: 1.6rem;
    text-align: left;
    color: var(--col);
}

.f-language-tag {
    font-size: 1.4rem;
}

.f-card-top {
    position: absolute;
    top: 0em;
    left: 0em;
    padding: 1em;
    width: 100%;
}

.f-your-sets {
    font-size: 18px;
    padding: 0.2em 0em 0.8em 0.2em; /* hear me out... it made sense in my head*/
    /* font-weight: bold; */
}

.f-bookmark-toggle{
    height: 24px;
    width: 24px;
    padding: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
}