@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0);
@import url(/styles/theme.css);
@import url(/styles/util.css);

:root1 {
    --bg-col: rgb(216, 216, 216);
    --secondary-bg-col:white;
    --col: black;
    --secondary-col:rgb(255, 255, 255);
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --faded-col:rgb(150, 157, 184);
    
    /* Colors for cards */
    --learn-col: rgb(56, 71, 119); 
    --experiment-col: rgb(33, 103, 121); 
    --practice-col:rgb(80, 62, 110); 

    /* Secondary colors for cards */
    --learn-col-alt: rgb(113, 125, 170); 
    --experiment-col-alt: rgb(98, 147, 160); 
    --practice-col-alt:rgb(143, 125, 172); 

    --menu-btn-bg:black;

    --lighten0:rgba(255,255,255,0.25);
    --lighten:rgba(255,255,255,0.1);
    --lighten2:rgba(255,255,255,0.05);
    --darken0:rgba(0,0,0,0.25);
    --darken:rgba(0,0,0,0.1);
    --darken2:rgba(0,0,0,0.05);

    --dark-text:black;
}
:root{
    --bg-col:#050505;
    --secondary-bg-col:#000;
    --col:whitesmoke;
    --secondary-col:lightgray;
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --faded-col:rgb(150, 157, 184);

    /* Colors for cards */
    --learn-col: rgb(56, 71, 119); 
    --experiment-col: rgb(33, 103, 121); 
    --practice-col:rgb(80, 62, 110); 

    /* Secondary colors for cards */
    --learn-col-alt: rgb(113, 125, 170); 
    --experiment-col-alt: rgb(98, 147, 160); 
    --practice-col-alt:rgb(143, 125, 172);

    --menu-btn-bg:var(--bg-col);

    color-scheme:dark;
    --darken0:rgba(255,255,255,0.25);
    --darken:rgba(255,255,255,0.1);
    --darken2:rgba(255,255,255,0.05);
    --lighten0:rgba(0,0,0,0.25);
    --lighten:rgba(0,0,0,0.1);
    --lighten2:rgba(0,0,0,0.05);
    
    --dark-text:black;

    /* extra */
    --bg:#111;
    --editor-bg:#1e1e1e;
    --border:#333;
    /* --cta-btn-col:#245; */

    /* --tutor-col:rgb(41, 93, 42); */
    /* --tutor-col:rgb(93, 91, 41); */
    /* --tutor-col:rgb(41, 82, 93); */
    --tutor-col:rgb(61, 49, 109);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font);
    background-color: var(--bg-col);
    color: var(--col);
}

a {
    text-decoration: none;
    color: var(--col);
}

.nav-container {
    background-color: var(--secondary-bg-col);
    width: 100%;
    position: sticky;
    top: 0px;
    height: 100px;
    padding-block: 1em;

    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}

.logo-thumbnail {
    height: 50px;
    width: 50px;
    fill: cover;
    border-radius: 4px;
    filter: grayscale(1);
}

.logo {
    margin-left: 1em;
    justify-self: self-start;
}

.nav-links {
    margin-inline: 1em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1em;
    justify-self: end;
    align-items:center;
}

.nav-links >* {
    color: var(--secondary-col);
    padding-inline: 1em;
    padding-block: 0.7em;
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bolder;

    transform: scale(1);
    transition-timing-function: ease-in;
    transform-origin: bottom;
    transition-duration: 0.15s;
}

.nav-links >*:hover {
    transform: scale(1.05);
}

.nav-links >*:not(.active) {
    background-color: var(--menu-btn-bg);
}

.learn-link.active {
    --cta-btn-col:var(--learn-col);
    /* background-color: var(--learn-col); */
    color:white;
}

.practice-link.active {
    --cta-btn-col:var(--practice-col);
    /* background-color: var(--practice-col); */
}

.experiment-link.active {
    --cta-btn-col:var(--experiment-col);
    /* background-color: var(--experiment-col); */
}

.cards-container {
    height: calc(100dvh - 100px);
    display: grid;
    grid-template-rows: auto auto;
    padding-inline: 8em;
    align-content: center;
    justify-content: center;
}

.cards {
    display: grid;
    align-content: center;
    justify-content: center;
    position: relative;
    height: 340px;
    width: 800px;
    margin-bottom: calc(2em + 40px);
}

.card {
    padding-inline: 3em;
    padding-block: 4em;
    border-radius: 5px;
    color: var(--secondary-col);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
    align-items: center;
    height: 340px;
    width: 870px;
    user-select: none;
    border: 2px solid transparent;

    position: absolute;

    -webkit-box-shadow: 0px 10px 17px -11px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 10px 17px -11px rgba(0,0,0,0.54);
    box-shadow: 0px 10px 17px -11px rgba(0,0,0,0.54);
    cursor: pointer;

    &.current-card{
        transition:
            box-shadow 0.2s ease, 
            background-color 0.2s ease-in;
    }

    &.current-card:hover{
        -webkit-box-shadow: 2px 10px 17px -11px rgba(0,0,0,0.8);
        -moz-box-shadow: 2px 10px 17px -11px rgba(0,0,0,0.8);
        box-shadow: 2px 10px 17px -11px rgba(0,0,0,0.8);
    }

    &:not(.current-card){
        &.learn-card{
            background-color: var(--learn-col-alt);
        }
        &.practice-card{
            background-color: var(--practice-col-alt);
        }
        &.experiment-card{
            background-color: var(--experiment-col-alt);
        }
    }

    &[position="1"]{
        z-index: 3;
        animation: 0.7s to-first ease-out forwards;
        &.initial-state{
            top: 0px;
            left: 0px;
        }
    }

    &[position="2"]{
        z-index: 2;
        animation: 0.7s to-second ease-out forwards;
        &.initial-state{
            top: 20px;
            left: 20px;
            animation: 0.7s to-second-alt ease-out forwards;
        }
    }

    &[position="3"]{ /* default position for new cards*/
        z-index: 1;
        animation: 0.7s to-third ease-out forwards;
        &.initial-state{
            top: 40px;
            left: 40px;   
            animation: 0.7s to-third-alt ease-out forwards;
        }
    }
}

@keyframes to-first {
    from {
        top: 20px;
        left: 20px;
    }
    to {
        top: 0px;
        left: 0px;
    }
}

@keyframes to-second {
    from {
        top: 40px;
        left: 40px;
    }
    to {
        top: 20px;
        left: 20px;
    }
}

@keyframes to-second-alt {
    from {
        top: 40px;
        left: 40px;
        filter: grayscale(1);
    }
    to {
        top: 20px;
        left: 20px;
        filter: grayscale(0);
    }
}

@keyframes to-third {
    from {
        top: 60px;
        left: 60px;
        opacity: 0.3;
    }
    to {
        top: 40px;
        left: 40px;
        opacity: 1;
    }
}

@keyframes to-third-alt {
    from {
        top: 60px;
        left: 60px;
        filter: grayscale(1);
    }
    to {
        top: 40px;
        left: 40px;
        filter: grayscale(0);
    }
}

.learn-card {
    background-color: var(--learn-col);
}

.practice-card {
    background-color: var(--practice-col);
    animation-delay: 0.2s;
}

.experiment-card {
    background-color: var(--experiment-col);
    animation-delay: 0.4s;
}

.card-left, .card-right{
    text-align: start;
}

.card-left {
    font-size: 2rem;
}

.card-right {
    font-size: 1.6rem;
    border-left: 4px solid var(--secondary-col);
    padding-inline-start: 1em;
}

.card.remove-card {
    animation-name: remove-card;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    & >*{
        visibility: hidden;
    }
}

@keyframes remove-card {
    0% {
        opacity: 1;
        translate: 0 0;
    }
    100% {   
        opacity: 0;
        translate: -10px -10px;
    }
}

.material-symbols-outlined{
    max-width:1em;
}

.card-controls {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;
    align-content: center;
    justify-content: center;
    width: 840px;

    animation-name: slide-up;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0,1.07,.69,.95);
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    0% {
        translate: 0 100px;
        opacity: 0;
    }
    100% {
        translate: 0 0;
        opacity: 1;
    }
}

.card-btn {
    width: 30px;
    height: 8px;
    border-radius: 8px;
    background-color: var(--faded-col);
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    transform-origin: center;

    &.active-card-btn {
        width: 160px;
        &[card-label="learn"] {
            background-color: var(--learn-col);
        }
        &[card-label="practice"] {
            background-color: var(--practice-col);   
        }
        &[card-label="experiment"] {
            background-color: var(--experiment-col);
        }
    }
}

/*  */

.hide{
    display:none;
}