body{
    position: relative;
    height: 100%;
    transition: background-color 0.3s ease-in-out;
    height: 100dvh;

    &[section="1"] {
        background-color: var(--learn-col);
    }
    &[section="2"] {
        background-color: var(--practice-col);
    }
    &[section="3"] {
        background-color: var(--experiment-col);
    }
}