.main{
    height:calc(100vh - 60px);
    display:flex;
    justify-content:center;
    --stroke-col:var(--cta-btn-col);
    background-image:url(/images/grid.png);
    background-size:2vw;
}
body.themestyle-light1 .main{
    --stroke-col:rgb(155, 155, 155);
    & .circle{
        --c:var(--cta-btn-col);
        color:whitesmoke;
    }
}
body.themestyle-dark_old .main{
    background-color:var(--bg);
    /* --stroke-col:var(--learn-col); */
    --stroke-col:rgb(39, 39, 43);
    & .circle{
        --c:rgb(50,50,50);
    }
}
body.themestyle-dark .main{
    background-color:var(--bg);
    --stroke-col:rgb(39, 39, 43);
    & svg{
        /* opacity:0.2; */
    }
    & .circle{
        --c:var(--cta-btn-col);
        /* background-color:var(--lighten0) !important; */
    }
}
.p-tree{
    width:100%;
    height:100%;
    /* min-width:1000px; */
    /* min-height:800px; */
    /* border:solid 2px gray; */
    /* background-color:var(--darken2); */
    border-radius:5px;
    overflow:hidden;
}
.pan-cont{
    width:100%;
    height:100%;
    /* debug */
    /* border:solid 1px red; */
}
.pt-svg{
    pointer-events:none;
}

.p-tree div.cont{
    position:relative;
}
.item-cont{
    position:absolute;
    transition:all 0.1s ease-out;
    transform-origin:center center;
    translate:-50% -50%;
    z-index:1;
    --shadow:2px 4px 5px 2px rgba(0,0,0,0.1);
    color:var(--col);
    border-radius:5px;
    /* width:140px; */
    /* height:140px; */

    --main-col:var(--secondary-bg-col);
    --back-col:var(--co);

    /*  */
    animation:ShowItemCont 0.5s ease-out;
}
.path-cont{
    animation:ShowPathCont 0.5s ease-out;
}
@keyframes ShowItemCont{
    0%{
        /* border-radius:50%; */
        opacity:0;
        /* rotate:5deg; */
        scale:0.97;
    }
    50%{
        rotate:0deg;
    }
    100%{
        opacity:1;
        scale:1;
    }
}
@keyframes ShowPathCont{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.l-lesson-name:hover{
    text-decoration:underline;
    cursor:pointer;
}
body.themestyle-dark .circle{
    /* background-color:var(--co); */
    --main-col:var(--co);
}
body.themestyle-dark .item-cont::before{
    /* background-color:var(--secondary-bg-col); */
    --back-col:var(--secondary-bg-col);
}
.circle{
    position:relative;
    /* width:130px; */
    /* height:130px; */
    width:140px;
    height:140px;

    background-color:var(--main-col,var(--main-col));
    /* background-color:var(--c); */
    /* --c:var(--secondary-bg-col); */
    
    /* border:solid 2px var(--darken0); */
    /* border-bottom:solid 5px var(--cta-btn-col); */
    /* background-color:var(--secondary-bg-col); */
    /* background-color:var(--cta-btn-col); */
    /* border-radius:50%; */
    border-radius:inherit;
    /* transform:translate(-50%,-50%); */
    
    display:flex;
    /* justify-content:center; */
    /* align-items:center; */
    user-select:none;
    -webkit-user-select:none;

    transition:all 0.1s ease-out;
    z-index:1;

    font-family:monospace;
    font-weight:bold;
    text-transform:uppercase;
    font-size:17px;
    padding:12px;

    box-shadow:var(--shadow);
    /* text-align:center; */
}
.item-cont::before{
    content:"";
    position:absolute;
    top:10px;
    left:20px;
    width:100%;
    height:100%;
    /* background-color:var(--stroke-col); */
    background-color:var(--back-col);
    /* background-color:var(--tutor-col); */
    z-index:1;
    border-radius:inherit;
    transition:all 0.2s ease-out;
}
.item-cont.locked::before{
    top:3px;
    left:5px;
}
.item-cont:not(.locked):hover::before{
    left:23px;
    top:18px;
}
/* .item-cont:not(.locked):active::before{
    left:12px;
    top:7px;
    transition-duration:0.05s;
} */
.item-cont:not(.locked):hover{
    scale:1.1;
    /* border-radius:10px; */
    /* cursor:pointer; */
    --shadow:2px 4px 7px 4px rgba(0,0,0,0.15);
}
/* .item-cont:not(.locked):active{
    scale:1.03;
    --shadow:2px 4px 7px 4px rgba(0,0,0,0.15);
} */
.cont svg{
    /* opacity:0.1; */
    pointer-events:none;
}
.cont path{
    stroke:var(--stroke-col);
}
.test{
    width:100%;
    position:absolute;
    /* z-index:10; */
    pointer-events:none;
    /* background-color:red; */
}
.arrow{
    position:absolute;
    width:50px;
    height:50px;
    transform:translate(-50%,-50%);
}

/*  */
body.themestyle-light .btn-start{
    --btn-bg:black;
    color:white;
}
body.themestyle-dark .btn-start{
    --btn-bg:var(--bg-col);
}
.circle .btn-start{
    position:absolute;
    right:13px;
    bottom:13px;
    min-width:50px;
    width:50px;
    height:50px;
    z-index:1;
    /* background-color:var(--darken); */
    background-color:var(--btn-bg);
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:32px;
    transition:all 0.2s ease-out;
}
body.themestyle-light .btn-start:hover,
body.themestyle-light .btn-start.open{
    background-color:var(--cta-btn-col);
    color:var(--secondary-bg-col);
    opacity:0.8;
}
/* .circle:not(.locked)::after{
    content:"";
    position:absolute;
    z-index:99;
    translate:-50% -50%;
    width:50px;
    height:50px;
    border:inset 10px green;
    border-radius:50%;
    top:50%;
    right:-150px;
} */
.circle.locked{
    /* opacity:0.5; */
    opacity:0.7;
    filter:grayscale(1);
    width:130px;
    height:130px;
    --co:var(--secondary-bg-col);
    /* filter:grayscale(1) brightness(0.8); */
    /* background-color:var(--col); */
    /* color:var(--secondary-bg-col); */
}
.item-cont.locked{
    /* pointer-events:none; */
    border-radius:50%;
}
.circle .lock-icon{
    position:absolute;
    transform:translate(-50%,-50%);
    left:50%;
    top:50%;
    font-size:60px;
    opacity:0.75;
}

.path-cont{
    --c:rgb(160,160,160);
    /* --c:var(--stroke-col); */
    transition:filter 0.2s ease-out, translate 0.5s ease-out;
    pointer-events:none;
}
/* .path-cont.done{
    --c:#328b32 !important;
    opacity:0.3;
} */
.path-cont.hov{
    /* --c:red; */
    filter:brightness(1.5);
    translate:0px -2px;
}
.path-cont path{
    stroke:var(--c);
}

.btn-start{
    /* opacity:0.5; */
    overflow:hidden;
    transition:all 0.3s ease-out, font-size 0s ease-out, transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}
.btn-start:hover,
.btn-start.open{
    /* transition:all 0.2s ease-out !important; */
    background-color:var(--col);
    color:var(--secondary-bg-col);
    transition:all 0.3s ease-out, transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}
.btn-start.percent{
    font-size:14px;
}
.btn-start.open{
    transform:rotate(270deg);
}
.prog-circle{
    position:absolute;
    right:13px;
    bottom:13px;
    min-width:50px;
    width:50px;
    height:50px;
    z-index:-1;
    /* background-color:green; */
    transform:scale(1.2);
    border-radius:50%;
}
.prog-circle canvas{
    position:absolute;
    top:50%;
    left:50%;
    width:60px;
    height:60px;
    transform:translate(-50%,-50%) rotate(-90deg);
}
/* depricated */
.prog-label{
    position:absolute;
    top:-3px;
    left:0px;
    opacity:0.6;
    width:100%;
    height:20px;
    transform:translate(0px,-100%);
    font-size:12px;
    text-transform:none;
    display:flex;
    align-items:center;
    padding:4px;
    background-color:var(--col);
    color:var(--secondary-bg-col);
    border-radius:inherit;
}
.flags{
    position:absolute;
    top:-30px;
    left:-10px;
    display:flex;
    gap:10px;
}
.item-flag{
    position:relative;
    /* width:60px; */
    height:25px;
    background-color:#CC3333;
    color:whitesmoke;
    /* filter:contrast(0.6); */
    --br:4px;
    border-radius:var(--br);
    pointer-events:none;
    font-size:14px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0px 10px;
    white-space:nowrap;
}
.item-flag:first-child{
    border-bottom-left-radius:0px;
}
.item-flag:first-child:after{
    content:"";
    position:absolute;
    left:0px;
    /* right:0px; */
    top:100%;
    height:40px;
    width:5px;
    border-bottom-left-radius:var(--br);
    border-bottom-right-radius:var(--br);
    background-color:inherit;
}

.flag-complete{
    background-color:green;

    /* background-color:rgb(122, 80, 163); */
    /* background-color:var(--practice-col); */
    /* color:rgb(33, 10, 57); */
}
.flag-complete span{
    font-family:"Material Icons";
}
/* .item-cont.hf .flag-complete{
    background-color:var(--col);
    color:var(--secondary-bg-col);
} */
/* something just wasn't right about this, not sure how to do it */
.item-cont:not(.locked).hf.depricated::after{
    content:"";
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    opacity:0.1;
    /* background:linear-gradient(transparent,purple,transparent); */
    /* --cc:var(--col); */
    --cc:green;
    /* background:linear-gradient(-45deg,transparent 35%,var(--cc) 56%,var(--cc) 65%,transparent 65%); */
    background:linear-gradient(-45deg,transparent 35%,var(--cc) 56%,var(--cc) 65%,transparent 65%);
    /* background:linear-gradient(-45deg,transparent 50%,var(--cc) 50%,var(--cc) 60%,transparent 60%,transparent 65%,var(--cc) 65%,var(--cc) 93%,transparent 93%); */
    z-index:3;
    border-radius:inherit;
    pointer-events:none;
}

.flag-inprogress{
    background-color:rgb(158, 119, 18);
    /* background-color:rgb(83, 44, 150); */
}

.item-actions{
    opacity:0;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    gap:3px;
    position:absolute;
    top:0px;
    right:-5px;
    transform:translate(100%,0px);
    height:100%;
    transition:all 0.1s ease-out, opacity 0.05s ease-out;
    translate:-20px 0px;
    pointer-events:none;
}
.item-actions.open{
    opacity:1;
    translate:0px 0px;
    pointer-events:all;
}
.item-actions > div{
    min-width:35px;
    width:max-content;
    padding:0px 10px;
    height:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:5px;
    /* border-radius:5rem; */
    border-radius:5px;
    background-color:var(--col);
    color:var(--secondary-bg-col);
    font-size:12px;

    box-shadow:var(--shadow);
}
body.themestyle-light .item-actions > div{
    background-color:var(--secondary-bg-col);
    color:var(--col);
}
.item-actions > div > :first-child{
    font-family:"Material Symbols Outlined";
    font-size:14px;
}
.item-actions > div:hover{
    background-color:var(--secondary-bg-col);
    color:var(--col);
    outline:solid 2px currentColor;
}
body.themestyle-light .item-actions > div:hover{
    background-color:var(--col);
    color:var(--secondary-bg-col);
    outline:none;
}

.view-options{
    width:1em;
    height:1em;
    margin:1rem;
    margin-left:23px;
    transform-origin:center center;
    transform:scale(1);
    transition:all 0.2s ease-out;
    position:absolute;
    top:60px;
    left:0px;
    z-index:2;
}
.view-options:hover{
    transform:scale(1.3);
}
.view-options.opened{

}

/* .cont path{
    stroke:var(--c,red);
}
.test:hover path{
    --c:teal;
} */

/* debug */
/* .center-mark{
    position:absolute;
    top:50%;
    left:50%;
    width:0px;
    height:50px;
    border:solid 1px red;
    translate:-50% -50%;
    z-index:9999;
}
.center-mark::after{
    content:"";
    position:absolute;
    width:130px;
    height:130px;
    border:solid 1px red;
    translate:-50% -12px;
} */

/* Lesson Types */

.item-cont.labeled{
    &{
        .circle::after{
            content:var(--content-override,"//");
            font-size:14px;
            opacity:0.5;
            position:absolute;
            /* bottom:0px; */
            top:0px;
            left:0px;
            padding:8px;
            /* color:whitesmoke; */
            /* background-color:black; */
            border-radius:3px;
        }
        .circle{
            padding-top:34px;
        }
    }
}

.item-cont.type-guided-project{
    /* --content-override:"//"; */
    &{
        .circle{
            width:145px;
            height:145px;
            /* padding:20px; */
            padding-top:34px;
            /* height:200px; */

            /* border-top-left-radius:0px; */
            /* border-bottom-left-radius:0px; */
        }
        .circle::after{
            content:var(--content-override,"//");
            font-size:14px;
            opacity:0.5;
            position:absolute;
            /* bottom:0px; */
            top:0px;
            left:0px;
            padding:8px;
            /* color:whitesmoke; */
            /* background-color:black; */
            border-radius:3px;
        }
    }
}
.item-cont.type-guided-project-parent{
    /* border-left:solid 8px var(--practice-col); */
    /* padding-left:3px; */
    /* --stroke-col:var(--practice-col); */

    /* --content-override:"// Guided Project"; */
    
    &{
        div.circle{
            width:200px;
            height:145px;
        }
        /* .circle::after{
            content:"// Guided Project";
        } */
    }
}
.item-cont.labeled .circle{
    width:155px;
    height:150px;
}
.item-cont.type-sign::before{
    display:none !important;
}
.item-cont.type-sign{
    &{
        .circle{

        }
        .circle::before{
            content:"";
        }
    }
}
.sign-cont{
    position:relative;
    z-index:1;
}
.sign-stem{
    position:absolute;
    width:10px;
    height:50px;
    transform:translate(-50%,-100%);
    top:0px;
    left:0px;
    
    /* border:solid 1px rgb(91, 49, 18); */
    background-color:rgb(91, 49, 18);
    border-radius:3px;
}
.sign-face{
    position:absolute;
    width:90px;
    height:65px;
    top:-40px;
    transform:translate(-50%,-100%);
    top:-40px;
    left:-5px;
    /* top:-10px; */
    /* left:-10px; */
    
    /* border:solid 1px rgb(91, 49, 18); */
    /* background-color:saddlebrown; */
    background-color:var(--bg);
    border-radius:5px;
    z-index:1;
    box-shadow:var(--shadow);

    font-family:monospace;
    text-transform:uppercase;
    font-size:16x;
    font-weight:bold;
    display:flex;
    justify-content:center;
    align-items:center;
    user-select:none;
    -webkit-user-select:none;

    cursor:pointer;
}
.sign-back{
    position:absolute;
    width:90px;
    height:65px;
    transform:translate(-50%,-100%);
    top:-35px;
    left:3px;

    background-color:rgb(91, 49, 18);
    border-radius:5px;
    z-index:0;
}
body.themestyle-dark .sign-face{
    background-color:rgb(91, 49, 18);
}
body.themestyle-dark .sign-back{
    background-color:var(--stroke-col);
}
body.themestyle-dark .sign-stem{
    /* background-color:rgb(91, 49, 18); */
    background-color:var(--stroke-col);
}
.menu-sign{
    width:500px;
    height:max-content;
}
.sign-menu-list p:not(:last-child){
    margin-bottom:1rem;
}
.sign-menu-list > :first-child{
    animation:ShowSignTitle 0.2s cubic-bezier(0.975, 0.185, 0.32, 1.675);
    animation-fill-mode:forwards;
}
.sign-title{
    margin-bottom:2rem;
    text-align:center;
    font-style:italic;
    
}
@keyframes ShowSignTitle {
    0%{
        margin-top:5px;
        opacity:0.1;
    }
    100%{
        margin-top:0px;
        opacity:1;
    }
}

.item-cont.type-warp-zone{
    border-radius:50%;
    transition:all 0.7s cubic-bezier(.22,.61,.36,1);
}
.item-cont.type-warp-zone .circle{
    --c:black !important;
    box-shadow:0px 0px 10px 30px black;
    border:none !important;
    outline:none !important;
    background-color:black !important;
}
.type-warp-zone::before{
    content:none;
}
.type-warp-zone img{
    position:absolute;
    top:50%;
    left:50%;
    translate:-50% -50%;
    width:100%;
    height:100%;

    filter:blur(2px);
    opacity:0.75;

    animation:WarpZoneIdle 4s alternate-reverse infinite ease;
}
.type-warp-zone img.warp{
    position:absolute;
    top:50%;
    left:50%;
    translate:-50% -50%;
    width:100%;
    height:100%;

    filter:blur(3px);
    opacity:0.3;
    scale:1.5;

    animation:WarpZoneIdle 4s alternate infinite ease;
}
@keyframes WarpZoneIdle{
    0%{
        rotate:-20deg;
    }
    20%{
        rotate:20deg;
    }
    100%{
        rotate:270deg;
    }
}

body.themestyle-dark .item-cont.type-guided-project .circle{
    /* --c:var(--practice-col) !important; */
    /* --c:var(--experiment-col) !important; */
}
body.themestyle-light .item-cont.type-guided-project{
    /* --stroke-col:var(--practice-col) !important; */
}
body.themestyle-dark .path-cont{
    --c:rgb(39, 39, 43);
}
body.themestyle-light .path-cont{
    --c:rgb(160,163,170);
}

/*  */

.item-cont-icon{
    position:absolute;
    bottom:0px;
    left:0px;
    margin:10px;
    font-size:24px;
    z-index:2;
    opacity:0.5;
    --icon:"school";
}
.item-cont:hover .item-cont-icon{
    opacity:1;
}
.item-cont-icon::after{
    /* content:"school"; */
    content:var(--icon);
    font-family:"Material Symbols Outlined";
}
/* .type-guided-project .item-cont-icon::after{
    content:"deployed_code";
} */

/*  */
.main-cont{
    display:flex;
    width:100%;
    height:100%;
}
.info-panel{
    width:300px;
    background-color:var(--secondary-bg-col);
    margin:20px;
    border-radius:5px;
}

.item-cont.show-menu{
    width:500px;
    height:500px;
    position:fixed !important;
    top:50vw !important;
    left:50vh !important;

    &{
        .circle{
            width:100%;
            height:100%;
        }
    }
}

/*  */
.menu-lesson{
    /* max-width:1150px; */
    max-width:1000px;
    min-width:950px;
    width:calc(100vw - 150px);
    /* min-height:600px; */
    height:max-content;

    /* max-height:620px; */
    /* overflow-y:auto; */
}
.menu-lesson .menu-body{
    max-height:calc(100vh - 250px);
    overflow-y:auto;
}
.menu-lesson .l-menu-title{
    font-size:18px;
    /* color:var(--darken0); */
    font-family:monospace;
    opacity:0.5;
    /* font-weight:100; */
}
.menu-lesson div.l-name{
    font-size:20px;
    /* I kinda like the underline but idk if we should have it */
    /* text-decoration:underline; */

    text-transform:uppercase;
    font-family:monospace;
    font-weight:bold;
}
.menu-lesson .cont-js{
    /* not quite sure if I want the border here, kidna looks good but also looks good without */
    /* border:solid 1px var(--bg); */
    /* outline:solid 1px var(--bg); */
}
.menu-lesson .details-block{
    /* width:500px; */
    width:700px;
}
.menu-lesson .preview-block{
    width:100%;
}
.menu-lesson .start-cont{
    display:flex;
    align-items:center;
    /* justify-content:space-between; */
    gap:15px;
}
.menu-lesson .start-cont button{
    text-transform:uppercase;
    font-weight:bold;
    font-family:monospace;
}
.menu-lesson .b-start{
    
}
.menu-lesson .l-prog{
    font-size:14px;
    margin-right:auto;
}
.menu-lesson .b-more-options{
    width:34px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.menu-lesson .b-more-options > div{
    font-size:16px;
}

/*  */

div.menu-block-cont{
    display:flex;
    position:relative;
}
div.menu-block{
    display:block;
}
div.menu-block .d-bubble{
    padding:15px;
    border-radius:5px;
    background-color:var(--bg);
    font-size:14px;
}
.menu-block ul{
    margin:0px;
    margin-left:1rem;
}
.menu-block .l-desc ul{
    margin:1rem 0px;
    margin-left:2rem;
}
.menu-block li{
    margin:0.5rem 0px;
}
.menu-block .l-h{
    color:var(--col);
}
.labeled-label{
    
}
.labeled-label .d-bubble{
    margin-top:10px;
}
.labeled-label > :first-child{
    font-size:13px;
    color:gray;
    /* margin-bottom:2px; */
    margin-bottom:5px;
    /* font-style:italic; */
}
.labeled-label > :last-child{
    font-size:15px;
}

/*  */
/* Pane Files */
div.pane-files{
    position:absolute;
    width:280px;
    min-width:110px;
    top:67px;
    box-shadow:0px 0px 5px rgba(0,0,0,0.2);
    z-index:2;

    /* width:calc(100% - 8px); */
    /* height:calc(100% - 58px); */

    /* Cool Transparent effect */
    /* background-color:var(--darken2); */
    /* backdrop-filter:blur(3px); */
}

/*  */
.vert-beam{
    position:absolute;
    top:50%;
    left:50%;
    width:50px;
    height:500px;
    background:radial-gradient(transparent 25%,var(--practice-col) 30%,transparent 60%);
    transform:translate(-50%,-50%);
    backdrop-filter:brightness(2);
    opacity:0.5;

    animation:VertBeamAnim 6s infinite;
}
@keyframes VertBeamAnim {
    0%{
        opacity:0.35;
        transform:translate(-50%,-50%);
        /* background:radial-gradient(transparent 25%,var(--practice-col) 30%,transparent 60%); */
    }
    25%{
        opacity:0.35;
        transform:translate(-50%,-50%);
    }
    50%{
        opacity:0.5;
        transform:translate(-50%,-50%) scale(1.1);
        /* background:radial-gradient(transparent 25%,var(--practice-col) 60%,transparent 60%); */
    }
    75%{
        opacity:0.35;
        transform:translate(-50%,-50%);
    }
    100%{
        opacity:0.35;
        transform:translate(-50%,-50%);
        /* background:radial-gradient(transparent 25%,var(--practice-col) 30%,transparent 60%); */
    }
}
/* .vert-beam::before{
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:300px;
    height:300px;
    background:radial-gradient(var(--practice-col),transparent 75%);
    backdrop-filter:brightness(2);
    opacity:0.5;
} */