body{
    overflow:hidden;
}

/* Panes */
.pane-lesson{
    width:385px;
    margin:var(--editor-gap);
    display:none;
}
.pane-tutor-code{
    width:calc(50% - 300px);
}
.pane-code{
    width:calc(50% - 300px);
}
.pane-preview{
    width:calc(50% - 300px);
}

/* .pane-code > div{
    flex-shrink:1;
    flex-grow:0;
} */

.pane-tutor-code .file-link.cur{
    background-color:var(--tutor-col);
}
/* .pane-tutor-code .cont-js{ */
.pane-tutor-code .monaco-editor{
    filter:hue-rotate(45deg);
}

.bubble-overlay{
    position:relative;
}
.global-bubble-overlay{
    position:absolute;
    z-index:99;
}
.bubble{
    padding:1rem;
    background-color:var(--bubble-bg);
    border-radius:0px;
    /* box-shadow:0px 5px 10px rgba(0,0,0,0.3); */
    /* opacity:0.5; */
    backdrop-filter:blur(2px);
    position:relative;
    z-index:3;

    width:max-content;
    max-width:300px;
    font-size:14px;
    /* user-select:none; */
    /* -webkit-user-select:none; */

    transition:opacity 0.2s ease-out;

    color:white;

    /* pointer-events:none; */
    /* user-select:none; */
    /* -webkit-user-select:none; */

    transform-origin:top left;
    animation:AddBubble forwards 0.35s ease-out;
    /* animation:AddBubble forwards 0.2s cubic-bezier(0.44, 1.07, 1, 1.31); */
}

.bubble:hover{
    /* opacity:0.2; */
}
.bubble:not(.no-callout)::after{
    content:"";
    position:absolute;
    top:17.5px;
    left:-15px;
    /* width:20px; */
    /* height:20px; */
    /* transform:rotate(45deg); */
    width:0px;
    height:0px;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-right:15px solid rgba(46, 70, 140, 0.7);
}
.bubble.dir-right:not(.no-callout)::after{
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-left:15px solid rgba(46, 70, 140, 0.7);
}
.bubble.dir-top{
    transform:translate(-40px,55px);
}
.bubble.dir-top:not(.no-callout)::after{
    /* top:-20px;
    left:2.25px; */
    top:-25px;
    left:9px;

    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:15px solid rgba(46, 70, 140, 0.7);
    /* border-left:9px solid transparent;
    border-right:9px solid transparent;
    border-bottom:10px solid rgba(46, 70, 140, 0.7); */
}
.bubble.dir-top2{
    transform:translate(0px,0px);
}
.bubble.dir-top2:not(.no-callout)::after{
    top:-20px;
    left:2.25px;

    border-left:9px solid transparent;
    border-right:9px solid transparent;
    border-bottom:10px solid rgba(46, 70, 140, 0.7);
}
.bubble.dir-bottom{
    transform:translate(-40px,-100%);
}
.bubble.dir-bottom:not(.no-callout)::after{
    top:100%;
    left:9px;

    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:15px solid rgba(46, 70, 140, 0.7);
}

.bubble.centered{
    transform:translate(-50%,-50%);
}
.bubble.global{
    width:400px;
    max-width:400px;
    font-size:16px;
}
.bubble.small{
    /* padding-top:3px; */
    /* padding-left:3px; */
    /* padding-bottom:3px; */
}

/*  */

.menu-lesson-banner{
    width:90%;
    height:max-content;
    max-width:600px;
}
.menu-lesson-banner .section div{
    margin-left:8px;
}
.menu-banner-preview{
    width:90%;
    height:max-content;
    max-width:600px;
}
.menu-banner-preview iframe{
    width:100%;
    border:solid 1px var(--lighten0);
    /* filter:none !important; */
}
.d-getting-started{
    display:flex;
    justify-content:center;
}
.b-getting-started{
    padding:0.6rem 2rem;
}

.tut-mouse{
    background-image:url(/images/cursor.png);
    width:20px;
    height:20px;
    position:absolute;
    top:200px;
    left:100px;
    z-index:6;
    background-size:contain;
    background-repeat:no-repeat;
    filter:var(--theme-inv-filter);

    transition:all 0.35s ease-out;
}

/*  */

.d-current-tasks{
    position:absolute;
    right:10px;
    top:175px;
    width:300px;
    height:500px;
    background-color:var(--bg);
    border:solid 1px var(--bg-col);
    z-index:8;
    padding:1rem;

    top:110px;
    bottom:18px;
    height:auto;
    /* height:min-content; */

    display:flex;
    flex-direction:column;

    overflow-y:auto;

    transition:transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.d-current-tasks.closed{
    transform:translateX(calc(100% + 10px));
}
.d-task{
    margin-top:15px;
}
.d-sub-tasks{
    /* max-height:50%; */
    /* overflow-y:scroll; */
}
.d-current-tasks.horz{
    left:0px;
    bottom:0px;
    top:unset;
    right:unset;
    height:auto;
    width:100%;

    & .d-sub-tasks{
        flex-direction:row;
    }
    & .lower-cont{
        margin-top:5px;
        display:flex;
        gap:12px;
        /* align-items:center; */
    }
}
hr{
    color:var(--bg-col);
    border-style:solid;
}

.b-confirm{
    margin-left:50%;
    transform:translateX(-50%);
    display:flex;
    align-items:center;
    gap:16px;
    font-size:14px;
    user-select:none;
    -webkit-user-select:none;
}
.b-confirm .material-symbols-outlined{
    margin:-6px;
    font-size:22px;
}
.d-lesson-confirm{
    /* padding:0px 20px; */
    background-color:var(--darken);
    height:40px;
    padding:8px;
    padding-left:12px;
    display:flex;
    align-items:center;
    gap:12px;
    font-size:14px;
    color:gray;
    border-radius:3px;
    transition:opacity 0.5s ease-in;
    opacity:0;
    margin-left:auto;
}
.b-im-done{
    margin-left:4px;
    background-color:var(--col);
    color:var(--secondary-bg-col);
    padding:6px 12px !important;
    font-size:12px;
    opacity:0.9;
    gap:6px;
}
.b-im-done .material-symbols-outlined{
    font-size:17px;
}
.b-replay{
    opacity:0.9;
    transform:scale(0.9);

    width:30px;
    height:30px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.b-replay .material-symbols-outlined{
    font-size:18px;
}
.b-go-back-step{
    opacity:0.9;
    transform:scale(0.9);

    width:30px;
    height:30px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.b-go-back-step .material-symbols-outlined{
    font-size:18px;
}

.bubble.clickable{
    cursor:pointer;
    transition:translate 0.5s ease-out;
}
.bubble.clickable:hover{
    translate:0px -3px;

    & .click-bubble-indicator{
        opacity:1 !important;
        animation:none;
        scale:1.03;
    }
}
.click-bubble-indicator{
    font-size:22px;
    /* opacity:0.7; */
    line-height:0;
    /* transform:translate(5px,5px); */
    transform:translate(5px,6px);
    animation:Indicate infinite alternate 2s ease-in-out;
}
@keyframes Indicate{
    0%{
        opacity:0.5;
    }
    60%{
        opacity:0.5;
    }
    100%{
        opacity:1;
    }
}

/* Board */
.board-cont{
    width:75vw;
}
.bubble.global.board-bubble{
    width:auto;
    height:auto;
    max-width:max-content;
    max-height:max-content;
    transform:translate(-50%,-50%);
    top:calc(50vh - 60px) !important;
    left:50vw !important;
    background-color:#111;
    box-shadow:0px 5px 30px 10px rgba(0,0,0,0.2);
}
.board-cont canvas{
    width:100%;
    border:solid 1px gray;
}

/* Current Project Controls - adjustments */
.d-current-project{
    display:none;
}
.cur-project-controls{
    margin-left:0px;
}