body{
    overflow:hidden;
}

/* Panes */
.pane-lesson{
    width:385px;
    margin:var(--editor-gap);
}
.pane-code{
    /* width:calc(50% - 133px); */
    width:calc(50% - 200px);
}
.pane-preview{
    width:calc(50% - 200px);
    /* width:calc(50% - 133px); */
}

.bubble-overlay{
    position:relative;
}
.global-bubble-overlay{
    position:absolute;
    z-index:99;
}
.bubble{
    padding:1rem;
    background-color:rgba(46, 70, 140, 0.7);
    border-radius:0px;
    /* box-shadow:0px 5px 10px rgba(0,0,0,0.3); */
    /* opacity:0.5; */
    backdrop-filter:blur(2px);
    position:relative;
    z-index:0;

    max-width:300px;
    font-size:14px;

    transition:opacity 0.2s ease-out;
}
.bubble:hover{
    /* opacity:0.2; */
}
.bubble:not(.no-callout)::after{
    content:"";
    position:absolute;
    top:17.5px;
    left:-15px;
    /* width:20px; */
    /* height:20px; */
    /* transform:rotate(45deg); */
    width:0px;
    height:0px;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-right:15px solid rgba(46, 70, 140, 0.7);
}
.d-open-files{
    position:relative;
    z-index:1;
}
.bubble.centered{
    transform:translate(-50%,-50%);
}
.bubble.global{
    width:300px;
    font-size:16px;
}

/*  */

.menu-lesson-banner{
    width:90%;
    height:max-content;
    max-width:600px;
}
.menu-lesson-banner .section div{
    margin-left:8px;
}
.menu-banner-preview{
    width:90%;
    height:max-content;
    max-width:600px;
}
.menu-banner-preview iframe{
    width:100%;
    border:solid 1px var(--lighten0);
    /* filter:none !important; */
}
.d-getting-started{
    display:flex;
    justify-content:center;
}
.b-getting-started{
    padding:0.6rem 2rem;
}