body{
    overflow:hidden;
}

/* Panes */
.pane-lesson{
    width:385px;
    margin:var(--editor-gap);
    display:none;
}
.pane-tutor-code{
    /* width:calc(50% - 133px); */
    /* width:calc(50% - 200px); */
    width:calc(50% - 300px);
}
.pane-code{
    /* width:calc(50% - 133px); */
    /* width:calc(50% - 200px); */
    width:calc(50% - 300px);
}
.pane-preview{
    /* width:calc(50% - 200px); */
    width:calc(50% - 300px);
    /* width:calc(50% - 133px); */
}

.pane-tutor-code .file-link.cur{
    background-color:var(--tutor-col);
}
/* .pane-tutor-code .cont-js{ */
.pane-tutor-code .monaco-editor{
    filter:hue-rotate(45deg);
}

.bubble-overlay{
    position:relative;
}
.global-bubble-overlay{
    position:absolute;
    z-index:99;
}
.bubble{
    padding:1rem;
    background-color:var(--bubble-bg);
    border-radius:0px;
    /* box-shadow:0px 5px 10px rgba(0,0,0,0.3); */
    /* opacity:0.5; */
    backdrop-filter:blur(2px);
    position:relative;
    z-index:3;

    width:max-content;
    max-width:300px;
    font-size:14px;

    transition:opacity 0.2s ease-out;

    color:white;

    /* pointer-events:none; */
    /* user-select:none; */
    /* -webkit-user-select:none; */

    transform-origin:top left;
    animation:AddBubble forwards 0.35s ease-out;
    /* animation:AddBubble forwards 0.2s cubic-bezier(0.44, 1.07, 1, 1.31); */
}
@keyframes AddBubble{
    0%{
        scale:0.8;
    }
    40%{
        scale:1.01;
    }
    100%{
        scale:1;
    }
}
@keyframes RemoveBubble{
    0%{
        /* scale:1; */
        opacity:1;
    }
    100%{
        opacity:0;
        /* scale:0.5; */
    }
}

.bubble:hover{
    /* opacity:0.2; */
}
.bubble:not(.no-callout)::after{
    content:"";
    position:absolute;
    top:17.5px;
    left:-15px;
    /* width:20px; */
    /* height:20px; */
    /* transform:rotate(45deg); */
    width:0px;
    height:0px;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-right:15px solid rgba(46, 70, 140, 0.7);
}
.bubble.dir-right:not(.no-callout)::after{
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-left:15px solid rgba(46, 70, 140, 0.7);
}
.bubble.dir-top{
    transform:translate(-40px,55px);
}
.bubble.dir-top:not(.no-callout)::after{
    /* top:-20px;
    left:2.25px; */
    top:-25px;
    left:9px;

    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:15px solid rgba(46, 70, 140, 0.7);
    /* border-left:9px solid transparent;
    border-right:9px solid transparent;
    border-bottom:10px solid rgba(46, 70, 140, 0.7); */
}
.bubble.dir-top2{
    transform:translate(0px,0px);
}
.bubble.dir-top2:not(.no-callout)::after{
    top:-20px;
    left:2.25px;

    border-left:9px solid transparent;
    border-right:9px solid transparent;
    border-bottom:10px solid rgba(46, 70, 140, 0.7);
}
.bubble.dir-bottom{
    transform:translate(-40px,-100%);
}
.bubble.dir-bottom:not(.no-callout)::after{
    top:100%;
    left:9px;

    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:15px solid rgba(46, 70, 140, 0.7);
}
.d-open-files{
    position:relative;
    z-index:1;
}
.editor-type-tutor,
.editor-type-self{
    margin-left:auto;
    font-size:13px;
    display:flex;
    align-items:center;
    padding:0px 8px;

    border:solid 2px var(--c);
    border-radius:3px;

    border:none;
    color:var(--c);
    font-size:16px;
    filter:brightness(2);
    font-weight:bolder;
    letter-spacing:3.5px;

    & .material-symbols-outlined{
        font-size:20px;
        /* margin-left:4px; */
        margin-right:8px;
        opacity:0.5;
        transition:rotate 0.4s ease-in-out, transform 0.2s ease-out;
        /* display:flex; */
        /* align-items:center; */
        /* justify-content:center; */
        /* padding:10px; */

        &:hover{
            /* background-color:var(--darken0); */
            rotate:180deg;
            transform:scaleY(1.5);
            opacity:0.8;
        }
    }
}
.editor-type-tutor{
    --c:var(--tutor-col);
}
.editor-type-self{
    --c:var(--cta-btn-col);
}

.bubble.centered{
    transform:translate(-50%,-50%);
}
.bubble.global{
    width:400px;
    max-width:400px;
    font-size:16px;
}
.bubble.small{
    /* padding-top:3px; */
    /* padding-left:3px; */
    /* padding-bottom:3px; */
}

/*  */

.menu-lesson-banner{
    width:90%;
    height:max-content;
    max-width:600px;
}
.menu-lesson-banner .section div{
    margin-left:8px;
}
.menu-banner-preview{
    width:90%;
    height:max-content;
    max-width:600px;
}
.menu-banner-preview iframe{
    width:100%;
    border:solid 1px var(--lighten0);
    /* filter:none !important; */
}
.d-getting-started{
    display:flex;
    justify-content:center;
}
.b-getting-started{
    padding:0.6rem 2rem;
}

.tut-mouse{
    background-image:url(/images/cursor.png);
    width:20px;
    height:20px;
    position:absolute;
    top:200px;
    left:100px;
    z-index:6;
    background-size:contain;
    background-repeat:no-repeat;
    filter:var(--theme-inv-filter);

    transition:all 0.35s ease-out;
}

/*  */

.d-current-tasks{
    position:absolute;
    right:10px;
    top:175px;
    width:300px;
    height:500px;
    background-color:var(--bg);
    border:solid 1px var(--bg-col);
    z-index:8;
    padding:1rem;

    top:110px;
    bottom:18px;
    height:auto;
    /* height:min-content; */

    display:flex;
    flex-direction:column;

    overflow-y:auto;
}
.d-task{
    margin-top:15px;
}
.d-sub-tasks{
    /* max-height:50%; */
    /* overflow-y:scroll; */
}
.d-current-tasks.horz{
    left:0px;
    bottom:0px;
    top:unset;
    right:unset;
    height:auto;
    width:100%;

    & .d-sub-tasks{
        flex-direction:row;
    }
    & .lower-cont{
        margin-top:5px;
        display:flex;
        gap:12px;
        /* align-items:center; */
    }
}
hr{
    color:var(--bg-col);
    border-style:solid;
}