@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0);

body{
    /* --purple-col:var(--darken); */
    /* --purple-col-alt:var(--darken2); */
    --purple-col: #503E6E;
    --purple-col-alt: rgb(56, 42, 77);
    /* --purple-col: #8D679F; */
    /* --purple-col-alt: #503E6E; */
}

.material-symbols-outlined{
    max-width:1em;
}

.c-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transform: rotate(0deg);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    color: var(--secondary-col);

    &.point-down {
        transform: rotate(180deg);
    }

    &.point-up {
        transform: rotate(0deg);
    }
}

.c-home {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1em;
    padding-block: 1em;
    padding-inline: 10em;
    position: relative;
}

.challenge-left{
    padding-inline: 2em;
    padding-block: 1em;
    height: calc(100dvh - (2em + 3em));
    background-color: var(--secondary-bg-col);
    border-radius: 3px;
    animation-name: intro-from-left;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    position: sticky;
    top: 1em;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

@keyframes intro-from-left {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }

}

@keyframes intro-up {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }

}

.challenge-right {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 1em;
    align-content: start;
    animation-name: intro-up;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

.c-filter-div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.c-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-search {
    display: flex;
    align-items: center;
    > * {
        color: var(--col) !important;
    }
}

.c-bubble {
    margin: 0 auto;
    padding: 6px;
    max-width: max-content;
    cursor: pointer;
    background-color: var(--secondary-bg-col) !important;
}

.c-browse-container {
    &.empty {
        color: var(--secondary-col);
    }
}

.c-ip-container-header, .c-browse-container-header{
    display: flex;
    align-items: center;
    gap: 1em;
}

.c-in-progress-counter, .c-browse-counter{
    color:var(--secondary-col);
    /* color:var(--col); */
    opacity:0.75;
    border-radius: 3px;
}

.c-search-inner{
    border: none;
    border-radius: 3px;
    color: var(--col);
}

.c-search-inner:focus {
    outline: none;
}

.c-search-bar{
    padding:10px 20px !important;
    color: var(--col) !important;
    margin-right: 10px;
}

.c-header-r {
    display: flex;
    gap: 1em;
}

.clear-filters {
    gap: 0.5em;
    border-radius: 3px;
    color: var(--col);
    background-color: var(--bg-col);
    font: var(--font);
    font-size:13px;
    padding: 5px;
    padding-inline: 10px;
    cursor: pointer;
}

.c-sort-div {
    position: relative;
    overflow: hidden;

    &.collapse {
        overflow: visible;
    }
}

.c-sort-btn {
    background-color: var(--secondary-bg-col);
    color: var(--col);
    font-family: var(--font) !important;
    padding-inline-start: 20px;
    padding-inline-end: 10px;
    border-radius: 3px;
    cursor: pointer; 
}

.c-sort-options {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    cursor: pointer;
    position: absolute;
    right: 0px;
    border-radius: 3px;
    height: max-content;
    background-color: var(--secondary-bg-col);
    overflow: hidden;
    z-index: 99;
    width: max-content;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.c-sort-option {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: .5em;
    justify-content: flex-end;
    padding: 1em;
    border-radius: 3px;
    color: var(--col);
    width: 100%;
    background-color: var(--secondary-bg-col);
    overflow-y: hidden;
    font-size: 14px;
    
    &:hover {
        background-color: var(--darken0);
    } 

}

.c-sort-toggle {
    transform: rotate(0deg);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

    &.point-down {
        transform: rotate(180deg);
    }

    &.point-up {
        transform: rotate(0deg);
    }
}

.c-outer-browse{
    background-color: var(--purple-col-alt);
    border-radius: 3px;
    position: relative;
    padding-block-end: 1em;
}

.c-outer-in-progress{
    border-radius: 4px;
    background-color: var(--purple-col);
    display: grid;
    grid-template-rows: auto 1fr;
    align-content: start;
    position: relative;
    overflow: hidden; 
    padding-block-end: 1em;
    transition: grid-template-rows 0.3s ease-out;

    &.window-load {
        transition-duration: 0s;
    }
    &.collapse {
        grid-template-rows:auto 0fr;
        padding-block-end: 0em;
    }
}

.c-outer {    
   padding-inline: 1em;
   height: min-content;

   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
   -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.c-section {
    margin-block: 1em;
    color: var(--secondary-col);
    /* color:var(--col); */
}

.c-container {
    display:grid;
    &:not(.empty){
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
    }
}

.c-in-progress-container {
    display:grid;
    overflow: hidden;
    &.empty {
        color: var(--secondary-col);
        /* color:var(--col); */
    }
}

.c-img-div {
    border-radius: 3px;
    background-color: var(--bg-col);
}

.c-img {
    aspect-ratio: 4/3;
    width: 100%;
    height: 100%;
    border-radius: 3px; 
}

.f-options {
    margin-inline-start: 1em;
    margin-block-start: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.c-text {
    align-items: center;
}

.c-card {
    padding: 10px;
    min-height: 0px;
    overflow: hidden;

    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 1em;
    background-color: var(--secondary-bg-col);
    border-radius: 4px;
    position:relative;
    overflow: hidden;
    align-content: space-between;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.c-preview {
    cursor: pointer;
    &.disabled{
        cursor: not-allowed;
    }
}

.c-submitted {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
    top: .5em;
    right: .5em;
    text-transform: uppercase;
    padding: 5px;
    backdrop-filter: blur(5px) brightness(0.2);
    border-radius: 2px;
    color: var(--secondary-col);
}

.c-popup-cont {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100dvw;
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
    background-color: rgba(0,0,0,0.3);
    pointer-events: none;
}

.menu-challenge-menu{
    width: calc(100dvw - 34em) !important;
    height: calc(100dvh - (3em + 16em)) !important;
    animation:AddBubble forwards 0.35s ease-out;
}
.c-popup {
    position: absolute;
    color: var(--secondary-col);
    /* background-color: var(--purple-col); */
    background-color:var(--bg-col);

    width:100%;
    height:100%;

    border-radius: 3px;

    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 1em;
    padding: 1em;
}

.c-popup-left {
    display: grid;
    grid-template-rows: 3em 1fr;
    align-content: space-between;
    gap: 1em;
}

.c-popup-title, .c-attempted, .c-popup-sub-title {
    text-transform: uppercase;
}

.c-attempted {
    padding-block: 1em;
    padding-inline:2em;
    background-color: var(--secondary-bg-col);
    border-radius: 3px;
    color:var(--col);
}

.c-popup-right {
    display: grid;
    grid-template-rows: 3em 3fr 1fr 1fr;
    gap: 1em;
    align-content: space-between;
}

.c-popup-img-div {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    gap: .5em;
}

.c-popup-img {
    /* aspect-ratio: 16/9; */
    max-width: 100%;
    max-height:311px;
    /* height: 100%; */
    border-radius: 3px;
    margin:auto;
    margin-top:0px;
}

.c-popup-img-text{
    align-self: flex-end;
    text-transform: uppercase;
    font-size: 13px;
}

.c-popup-implementations-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-popup-implementations {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1em;
}

.c-implementations{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

    &.empty {
        grid-template-columns: 1fr;
        height: 6em;
        align-items: start;
    }
}

.c-implementation {
    display: grid;
    grid-template-rows: auto auto;
    gap: .5em;
    padding: .5em;
    background-color: var(--bg-col);
    cursor: pointer;
}

.c-implementation-img {
    aspect-ratio: 4/3;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.c-implementation-preview {
    border-radius: 3px;
    width: fit-content;
    gap: .5em;
}

.c-view-all {
    cursor:pointer;
    text-transform: uppercase;

    &.empty{
        cursor: not-allowed;
    }
}

.c-implementation-credit {
    display: flex;
    justify-content: flex-start;
}

.c-popup-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-popup-body {
    padding: 1em;
    background-color: var(--secondary-bg-col);
    border-radius: 3px;
    display: grid;
    grid-template-rows:auto auto;
    align-content: space-between;
    color: var(--col);
}

.c-popup-task {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1em;
}

.c-popup-close {
    display: flex;
    align-items: center;
    justify-self: end;
    cursor: pointer;
}

.c-difficulty{
    margin-block:auto;
    text-transform: uppercase;
    background-color: var(--secondary-bg-col);
    color: var(--col);
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    border-radius: 3px;
    padding: 1em;
    font-size: 13px;
}

.c-start {
    padding-block: 1.5em;
    width: 100%;
    height: max-content;
    text-transform: uppercase;
    display: flex;
    gap: .5em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font: var(--font);
    align-self: self-end;
}

.c-back {
    display: flex;
    align-items: center;
    gap: .5em;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
}

.c-back-arrow {
    font-size: inherit;
    font-weight: 700;
}

.c-start-arrow {
    font-size: inherit;
    font-weight: 700;
}

@keyframes AddBubble{
    0%{
        scale:0.8;
    }
    40%{
        scale:1.01;
    }
    100%{
        scale:1;
    }
}