@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0);

.material-symbols-outlined{
    max-width:1em;
}

.c-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transform: rotate(0deg);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

    &.spin {
        transform: rotate(180deg);
    }
}

.challenge-home {
    display: grid;
    grid-template-rows: auto;
    gap: 1em;
    padding: 1em;
}

.c-outer-browse{
    background-color: var(--secondary-bg-col);
    padding: 20px;
    padding-block: 0px;
    border-radius: 4px;
}

.c-outer-in-progress{
    padding: 20px;
    padding-block: 0px;
    border-radius: 4px;
    background-color: var(--practice-col);
    display: grid;
    grid-template-rows: auto auto;
    align-content: center;
    position: relative;
}

.c-section {
    margin-block: 1em;
}

.c-container {
    display:grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.c-in-progress-container {
    display:grid;
    grid-template-rows: auto auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: auto;

    &:not(.empty){
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.c-in-progress-container.collapse {
    gap: 0em;
    .c-card {
        height: 0px;
        padding-block: 0px;
        border: none;
    }
}

.c-img {
    height: 200px;
    object-fit: cover;
    border-radius: 3px;
}

.c-text {
    height: 60px;
    align-items: center;
}

.c-card {
    transition: height 0.3s ease-out, padding-block 0.3s ease-out;
    padding: 10px;
    width: 300px;
    height: 370px;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: #413b46;
    border-radius: 3px;
    position:relative;

    box-shadow: -7px 10px 22px -5px rgba(0,0,0,0.52);
    -webkit-box-shadow: -7px 10px 22px -5px rgba(0,0,0,0.52);
    -moz-box-shadow: -7px 10px 22px -5px rgba(0,0,0,0.52);

    border: 2px solid rgba(49, 25, 79, 0.626);
}

.c-btn {
    cursor: pointer;
}

.c-submitted {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
    top: 1em;
    right: 1em;
    text-transform: uppercase;
    padding: 5px;
    backdrop-filter: blur(5px) brightness(0.2);
    border-radius: 2px;
}