.p-cont-outer {
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: start;
}

.p-cont-inner {
    margin-top: 1em;
    background-color: var(--secondary-bg-col);
    display: grid;
    width: 35em;
    grid-template-rows: auto auto auto auto;
    border-radius: 5px;
    padding: 1em;
    gap: 1em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    & >* {
        padding: 1em;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        &:nth-child(1) {
            background-color: var(--bg-col);
        }
        &:nth-child(2) {
            background-color: var(--practice-col);
        }
        &:nth-child(3) {
            background-color: var(--learn-col);
        }
        &:nth-child(4) {
            background-color: var(--experiment-col);
        }
        &:not(:first-child) {
            color: var(--secondary-col);
        }
    }
}

.p-first{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.p-pfp {
    max-width: 46px;
    height: 46px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    background-color: var(--darken0);
}

button:disabled {
    cursor: not-allowed;
    opacity: .7 !important;
}

.p-username {
    font-size: 46px;
}

.p-header-top {
    display: flex;
    align-items: center;
    gap: 1em;
}

.p-section-title {
    font-size: 24px;
    display: flex;
    gap: .5em;
    justify-content: space-between;
}

.p-stat {
    display: flex;
    justify-content: space-between;
}

.p-second, .p-third, .p-fourth {
    display: grid;
    gap: 1em;
}

.p-lesson-stats, .p-challenge-stats, .p-project-stats {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 1em;
}

.p-view-challenges {
    cursor: pointer;
}