.icon-btn{
    display:flex;
    /* justify-content:space-between; */
    align-items:center;
    /* gap:5px; */
    gap:10px;
    user-select:none;
    -webkit-user-select:none;

    position:relative;

    background-color:var(--darken0);

    text-transform:uppercase;
    font-weight:bold;
}
/* .icon-btn:hover::after{
    content:"";
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.2);
    border-radius:inherit;
} */
.icon-btn .material-symbols-outlined{
    font-size:20px;
}

button.icon-btn-single{
    /* width:min-content !important; */
    padding:4px 6px !important;
    background-color:transparent !important;
    color:var(--col) !important;

    display:inline-flex;
    justify-content:center;
    align-items:center;

    user-select:none;
    -webkit-user-select:none;
}
button.icon-btn-single > div.material-symbols-outlined{
    font-size:20px;
    /* font-variation-settings:'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 0 !important; */
}
button.icon-btn-single:hover{
    background-color:var(--darken) !important;
}


/*  */

.fancy-btn{
    display:flex;
    align-items:center;
    gap:15px;
    user-select:none;
    -webkit-user-select:none;

    border-radius:50rem !important;
    
    transition:all 0.2s ease-out;

    width:44px !important;
    overflow:hidden;

    --op:0;
}
.fancy-btn:hover{
    width:110px !important;
    --op:1;
}
.fancy-btn .label{
    transition:opacity 0.15s ease-out;
    opacity:var(--op);
}
.fancy-btn .material-symbols-outlined{
    font-size:20px;
}

/* Menus */
.menu-cont{
    z-index:50;
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    pointer-events:none;

    display:flex;
    justify-content:center;
    padding-top:100px;
    gap:50px;

    transition:backdrop-filter 0.1s ease-out, background-color 0.1s ease-out;
}
.menu-cont.show{
    pointer-events:all;
    backdrop-filter:blur(3px);
    background-color:rgba(0,0,0,0.3);
}
.menu{
    width:400px;
    height:250px;
    background-color:var(--secondary-bg-col);
    border-radius:5px;
    box-shadow:0px 4px 5px 2px rgba(0,0,0,0.1);
    position:relative;
    /* border-top:solid 8px var(--cta-btn-col); */

    & input{
        background-color:var(--c-bg);
        border:none;
        border-radius:5px;
        padding:5px 10px;
        font-family:var(--font);
        font-size:14px;
    }
}
.menu::before{
    content:"";
    position:absolute;
    top:15px;
    left:15px;
    width:100%;
    height:100%;
    background-color:var(--menu-btn-bg);
    z-index:-2;
    border-radius:inherit;
}
.menu::after{
    content:"";
    position:absolute;
    top:30px;
    left:-15px;
    width:100%;
    height:100%;
    background-color:var(--cta-btn-col);
    z-index:-1;
    border-radius:inherit;
}
.menu-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:8px 12px;
    user-select:none;
    -webkit-user-select:none;
}
.menu-header .menu-title{
    font-size:24px;
    text-transform:uppercase;
    font-weight:bold;
    margin-left:8px;

    display:flex;
    align-items:center;
    gap:10px;
}
.menu-header .material-symbols-outlined{
    
}
.menu-header .menu-title :last-child{
    margin-top:-3px;
}
.menu-header .b-close{
    min-width:30px;
    min-height:30px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:all 0.3s ease-out;
}
.menu-header .b-close:hover{
    background-color:var(--darken);
}
.menu-body{
    margin:15px;
    margin-top:25px;
    display:grid;
    grid-template-columns:1fr;
    gap:20px;
}

.inp-cont{
    display:flex;
    align-items:center;
    gap:20px;
    --c-bg:var(--darken2);
}
.inp-cont > div:first-child{
    font-size:15px;
    width:90px;
    /* user-select:none; */
    /* -webkit-user-select:none; */
}
.inp-cont .icon-check.accept{
    color:green;
    animation:none;
}
.inp-cont .icon-check.deny{
    color:red;
    animation:none;
}
.inp-cont .icon-check{
    animation:ProgressSpin 1s infinite;
}

/* button */
.inp-cont button{
    background-color:var(--col);
    color:var(--secondary-bg-col);
    border:none;
    border-radius:5px;
    padding:5px 10px;
    font-family:var(--font);
    font-size:14px;
    width:179.5px;
}
.inp-cont button:hover{
    /* filter:brightness(1.2); */
}

@keyframes ProgressSpin {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(720deg);
    }
}

/*  */

.material-symbols-outlined{
    user-select:none;
    -webkit-user-select:none;
}

/*  */

button{
    background-color:var(--col);
    color:var(--secondary-bg-col);
    border:none;
    padding:8px 16px;
    border-radius:3px;
    position:relative;
}
button:disabled{
    opacity:0.4;
    /* cursor:not-allowed; */
}
button:not(:disabled):hover::after,
button:not(:disabled).f-hover::after{
    content:"";
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    /* background-color:rgba(255,255,255,0.2); */
    background-color:var(--lighten0);
    border-radius:inherit;
}

.two-col{
    display:grid;
    grid-template-columns:1fr 1fr;
    position:relative;
    gap:10px;
}
.two-col > div{
    /* background-color:red; */
    display:grid;
    justify-content:center;
    align-items:center;
    /* max-width:50%; */
}

/* Sign in with Google Cont */
.sign-in-cont{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:12px;
    background-color:white;
    padding:8px 12px;
    font-size:14px;
    border:solid 1px lightgray;
    border-radius:3px;
    user-select:none;
    -webkit-user-select:none;
    color:var(--dark-text);
}
.sign-in-cont:hover{
    background-color:whitesmoke;
}
.si-icon-cont{
    width:16px;
    height:16px;
}
.si-info{
    display:flex;
    flex-direction:column;
    gap:6px;
}
.h-profile img{
    /* width:30px; */
    /* height:30px; */
    width:24px;
    height:24px;
    border-radius:50%;
    scale:1.25;
    /* position:absolute; */
}
.h-profile.logged-in{
    display:flex;
    justify-content:center;
    align-items:center;
    background:none !important;
}

/* Compact Header */
.nav-container.compact{
    height:60px;
    padding-block:0px;
    position:static;
}
.nav-container.compact .nav-links > *{
    font-size:14px;
    padding-block:0.5em;
}
.header{
    height:40px;
    margin:0px;
    padding:4px;
    display:flex;
    align-items:center;
    gap:3px;
    font-weight:bold;
    text-transform:uppercase;
}
.header button{
    font-family:var(--font);
    padding:6px 12px;
    font-size:14px;
    border-radius:3px;
    width:max-content;
    border:none;
    /* background-color:green; */
    /* color:white; */

    /* background-color:var(--cta-btn-col); */
    background-color:var(--col);
    color:var(--editor-bg);
}
.header{
    user-select:none;
    -webkit-user-select:none;
    
    padding:4px 10px !important;
    border-radius:4px;
    background-color:var(--bg);

    margin:0px;
    height:42px;
    /* border-bottom:solid 1px var(--border); */
    padding:4px;
    background-color:var(--bg);
    display:flex;
    gap:3px;
}
body .nav-links > .active{
    background-color:var(--cta-btn-col);
}

/*  */

.c{
    align-items:center;
}
.flx-v{
    display:flex;
    flex-direction:column;
    /* gap:var(--editor-gap); */
}
.flx-h{
    display:flex;
    height:100%;
    /* gap:var(--editor-gap); */
}
.flx-sb{
    display:flex;
    justify-content:space-between;
}
.flx-al{
    align-items:center;
}

/* Universal Pane Styles */
.pane{
    /* border:solid 1px var(--border); */
    box-sizing:border-box;
    /* margin-top:5px; */
    border-radius:4px;
    background-color:var(--bg);
    overflow:hidden;
}
.pane-tutor-code{
    border-left:none;
    border-right:none;
    margin-left:var(--editor-gap);
    margin-top:var(--editor-gap);
    margin-bottom:var(--editor-gap);
    margin-right:var(--editor-gap);
}
.pane-code{
    /* flex-grow:1; */
    /* width:50%; */
    border-left:none;
    border-right:none;
    margin-top:var(--editor-gap);
    margin-bottom:var(--editor-gap);
}
.pane-preview{
    /* width:50%; */
    border-right:none;
    margin:var(--editor-gap);
    min-width:300px;
}
.d-open-files{
    margin:0px;
    height:42px;
    padding:4px;
    background-color:var(--bg);
    display:flex;
    gap:3px;
}
.file-link{
    padding:6px 12px;
    font-size:14px;
    border-radius:3px;
    width:max-content;
    user-select:none;
    -webkit-user-select:none;
}
.file-link:hover{
    background-color:var(--darken);
    /* background-color:var(--tertiary-bg-col); */
    /* background-color:var(--bg-col); */
}
.file-link.cur{
    background-color:var(--cta-btn-col);
    color:white;
    /* border-bottom:solid 3px var(--cta-btn-col); */
    /* background-color:var(--darken); */
    /* border-top:solid 2px currentColor; */
    /* padding-top:4px; */
    /* color:var(--col); */
    
    /* -Connected- */
    /* background-color:var(--editor-bg); */
    /* height:42px; */
    /* border-bottom-left-radius:0px; */
    /* border-bottom-right-radius:0px; */
}

.pane-preview > iframe{
    background-color:white;
    border:none;

    /* margin:var(--editor-gap); */
    margin-top:-1px;
    width:100%;
    height:calc(100% - 46px); 
    border-radius:3px;
}

.file-list{
    display:flex;
    flex-direction:column;
    gap:4px;
    margin:4px;
}
.file-item{
    padding:10px 10px;
    background-color:var(--editor-bg);
    /* border-radius:3px; */
    font-size:12px;
    /* text-transform:uppercase; */
    /* font-weight:bold; */
    font-family:monospace;
}

.icon-refresh{
    transition:rotate 0.3s ease-out;
}

.cont-js{
    padding-top:0px;
    padding-bottom:0px;
}
.js-cont{
    height:calc(100% - 15px);
}

.monaco-editor{
    /* padding-top:1rem; */
    border-radius:5px;
    /* margin:5px; */
    /* width:calc(100% - 10px) !important; */
}
.overflow-guard{
    margin-right:15px;
    width:100% !important;
}
.monaco-scrollable-element.vs{
    width:calc(100% - 64px) !important;
}

/*  */

.b-add-file{
    display:flex;
    justify-content:center;
    align-items:center;
    aspect-ratio:1;
    transform:scale(0.75);
    filter:invert(1);
}

/* Text Decorators */
.l-i{
    font-style:italic;
}
.l-b{
    font-weight:bold;
}
.l-h{
    background-color:rgba(180,180,50,0.5);
    color:var(--bg-col);
    color:white;
    padding-left:5px;
    padding-right:5px;
    border-radius:3px;
}
.l-u{
    text-decoration:underline;
    padding-left:5px;
    padding-right:5px;
}

/*  */

.d-task{
    margin-top:8px;
    margin-bottom:16px;
    font-size:15px;
    background-color:var(--bubble-bg);
    color:white;
    padding:6px 10px;
    border-radius:3px;
    font-style:italic;
}
.d-sub-tasks{
    font-size:15px;
    display:flex;
    flex-direction:column;
    gap:6px;
}
.d-sub-tasks > div{
    animation:ShowSubTask 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes ShowSubTask {
    0%{
        scale:0.8;
        opacity:0.5;
    }
    100%{
        scale:1;
        opacity:1;
    }
}
.d-sub-tasks .l-num{
    margin-right:5px;
}
.d-sub-tasks > div{
    border:solid 1px var(--bg-col);
    padding:3px 6px;
    background-color:var(--secondary-bg-col);
    border-radius:3px;
    /* height:max-content; */

    font-size:14px;
}
.d-sub-tasks .material-symbols-outlined{
    font-size:22px;
    margin-left:5px;
}
.d-sub-tasks button{
    /* filter:brightness(0.9); */
    background-color:#556;
    color:white;
    /* filter:invert(0.5); */
}
code{
    font-size:14px !important;
}
.sub-task-btns{
    display:flex;
    gap:20px;
    align-items:center;
    justify-content:space-between;
}
.sub-task-btns > button{
    /* width:100%; */
    /* width:max-content; */
    padding:7px 10px;
    font-size:13px;
}
.sub-task-btns > button:disabled{
    opacity:0.4;
    /* cursor:not-allowed; */
}
.sub-task-btns .material-symbols-outlined{
    font-size:18px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0px;
    /* padding:3px; */
    width:20px;
    height:20px;
}
.sub-task-btns .material-symbols-outlined:hover{
    background-color:var(--bg);
}

.none{
    display:none !important;
}

/*  */

.d-open-files{
    position:relative;
    z-index:1;
}
.editor-type-tutor,
.editor-type-self{
    margin-left:auto;
    font-size:13px;
    display:flex;
    align-items:center;
    padding:0px 8px;

    border:solid 2px var(--c);
    border-radius:3px;

    border:none;
    color:var(--c);
    font-size:16px;
    filter:brightness(2);
    font-weight:bolder;
    letter-spacing:3.5px;

    & .material-symbols-outlined{
        font-size:20px;
        /* margin-left:4px; */
        margin-right:8px;
        opacity:0.5;
        transition:rotate 0.4s ease-in-out, transform 0.2s ease-out;
        /* display:flex; */
        /* align-items:center; */
        /* justify-content:center; */
        /* padding:10px; */

        &:hover{
            /* background-color:var(--darken0); */
            rotate:180deg;
            transform:scaleY(1.5);
            opacity:0.8;
        }
    }
}
.editor-type-tutor{
    --c:var(--tutor-col);
}
.editor-type-self{
    --c:var(--cta-btn-col);
}

/*  */

.icon-div{
    display:flex;
    align-items:center;
    justify-content:center;
}

input[type="text"]{
    padding:4px;
    font-size:13px;
    font-family: var(--font);

    &.c-search-inner{
        color: var(--bg) !important;
    }
}
input[type="checkbox"]{
    width:18px;
    height:18px;
    font-family: var(--font);
}