:root{
    --border:solid 1px #ccc;
    /* --bg:rgb(246, 242, 240); */
    /* filter:invert(1); */
    --bg:whitesmoke;
    /* --grad-primary:linear-gradient(90deg,royalblue,dodgerblue); */
    --grad-primary:linear-gradient(90deg,teal,rgb(32, 150, 154));
    --bg-folder:rgb(226, 236, 238);
    --border-folder:#ccc;
    --border2-folder:rgb(187, 204, 204);
    --text:black;

    --layer1:rgba(0,0,0,0.04);
    --layer2:rgba(0,0,0,0.08);
    --layer-1:rgba(255,255,255,0.65);

    /* filter:invert(1) contrast(0.8) brightness(1.5) hue-rotate(180deg); */
    /* filter:invert(1) contrast(0.8) brightness(1.5) hue-rotate(240deg); */
    /* filter:invert(1) contrast(0.8) brightness(1.5) hue-rotate(200deg); */
    /* filter:hue-rotate(180deg); */
    /* filter:hue-rotate(270deg); */
    /* filter:hue-rotate(315deg); */
    /* filter:hue-rotate(45deg); */

}

body{
    background-color:var(--bg,whitesmoke);
    height: 100vh;
    padding-inline: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x:hidden;
}
.main{
    width:100%;
    display:flex;
    gap:1rem;
}
h3{
    display:flex;
    align-items:center;
    height:40px;
}

.main{
    /* animation:BodyInit 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

@keyframes BodyInit {
    0%{
        translate:100vw 0px;
    }
    100%{
        translate:0px 0px;
    }
}

/* Title */
header > div:first-child{
    /* font-weight:bold; */
    font-family:monospace;
    font-size:18px;
}

/* .main > div{
    flex-shrink:0;
    display:flex;
    flex-direction:column;
} */

.sidebar{
    width:300px;
    /* border:solid 1px gray; */
}
.sidebar h1{
    font-size:22px;
    padding:0.5rem;
}
.list-div{
    padding:1rem 1.5rem;
    display:grid;
    grid-template-columns: 60% auto auto;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
    user-select:none;
    background-color:white;
    border-radius:7px;
    margin-bottom:5px;
    border:solid 1px #ccc;

    transition:all 0.3s ease-out;
}
.list-div:last-child{
    margin-bottom:0px;
}
.list-div .material-symbols-outlined{
    /* margin-right:-0.25rem; */
    font-size:44px;
    /* font-size:22px; */
    width:22px;
    height:22px;
    line-height:22px;
}
.list-div:not(.no-hover):hover{
    filter:brightness(0.95);
}
.list-div:not(.no-hover):active{
    filter:brightness(0.9);
}
.list-div.sel{
    background:var(--grad-primary);
    /* background-color:dodgerblue; */
    /* border-color:rgb(27, 122, 218); */
    color:white;
    box-shadow:0px 2px 5px rgba(0,0,0,0.1);
}
.list-div:not(.no-hover).sel:hover{
    filter:brightness(1.25);
}
.challenge-date {
    font-size: inherit;
}
.content{
    width:calc(50% - 170px);
}
.code{
    width:calc(50% - 170px);
}

#frame{
    border-radius:5px;
    width:100%;
    /* height:100%; */
    min-height:calc(100vh - 150px);
    background-color:white;

    /* Need to sort this out with making the preview scroll along with the code because the code could be pretty long */
    /* position:fixed;
    top:130px;
    width:33%; */
}

code{
    font-size:14px !important;
}
code span{
    line-height:0.5 !important;
}

.file-title{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
button{
    padding:0.5rem 1.5rem;
    border:solid 1px #ccc;
    background-color:white;
    border-radius:5px;
}
button:hover{
    filter:brightness(0.95);
}
button:active{
    filter:brightness(0.9);
}

.flx{
    display:flex;
    justify-content:space-between;
}

pre{
    background:white !important;
    border-radius:5px;
}

/*  */

.dropdown{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:fixed;
    left:0px;
    top:0px;
    min-width:100px;
    padding:5px;
    /* background-color:rgb(255, 246, 246); */
    background-color:whitesmoke;
    border-radius:8px;
    z-index:999;
    user-select:none;
    -webkit-user-select:none;
    display:flex;
    flex-direction:column;
    gap:5px;
    box-shadow:0px 3px 10px 0px rgba(0,0,0,0.1);
    font-size:14px;
    border:var(--border);
}
.dropdown-item{
    padding:0.5rem 1.5rem;
    /* background-color:rgb(249, 233, 233); */
    background-color:white;
    border-radius:5px;
    cursor:pointer;
    /* border:var(--border); */
}
.dropdown-item:hover{
    filter:brightness(0.95);
}

.back{
    position:fixed;
    left:0px;
    top:0px;
    width:100vw;
    height:100vh;
    pointer-events:none;
    z-index:1;
}
.overlay{
    position:absolute;
    top:0px;
    left:0px;
    z-index:2;
}

.dd-btn{
    font-family:Arial;
    padding:0.5rem 1.5rem;
    border:solid 1px #ccc;
    background-color:white;
    border-radius:5px;
    font-size:13.3px;
    font-weight:normal;
}
.dd-btn:hover{
    filter:brightness(0.95);
}
.dd-btn:active{
    filter:brightness(0.9);
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background-color:white;
    height:3rem;
    padding:0px 2rem;
    border-radius:0.5rem;

    /* box-shadow:0px 4px 15px rbga(0,0,0,0.1); */
    box-shadow:0px 1px 3px rgba(0,0,0,0.1);

    position:relative;
    z-index:99;
}
.nav-list{
    gap:1rem;
    
}
.nav-link{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:1rem;
}
.nav-link .material-symbols-outlined{
    font-size:24px;
    width:24px;
    height:24px;
    margin-left:-0.25rem;
    user-select:none;
    -webkit-user-select:none;
}
.nav-list > *{
    border:solid 1px white;
    border-radius:0.5rem;
    /* padding:0.5rem 0.25rem; */
    transition:all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    user-select:none;
    -webkit-user-select:none;
    font-size:13.33px;
    padding:0.5rem 1.25rem;
}
.nav-list > *:hover,
.nav-list > *.cur{
    translate:0px -2px;
    background-color:whitesmoke;
    box-shadow:0px 2px 5px rgba(0,0,0,0.1);
    border:solid 1px #ccc;
}
.nav-list > *:active{
    background-color:#eee;
    translate:0px 0px;
    box-shadow:0px 0px 3px rgba(0,0,0,0.1);
}

.main-cont{
    position:relative;
}
.main-cont .main{
    position:absolute;
    top:0px;
    left:0px;
    /* transition:all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); */
    /* transition:all 0.3s cubic-bezier(1, 0.5, 0.5, 1); */
    transition:all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color:var(--bg);
    --off:0px 100vh;
}
.hide{
    opacity:0;
    pointer-events:none;
    translate:var(--off);
    height:0px;
    overflow:hidden;
}

a{
    text-decoration:none;
    color:currentColor;
}

.wrapper-center > *{
    display:flex;
    justify-content:center;
    width:100%;
}

.icon-btn{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:1rem;
}
.icon-btn .material-symbols-outlined{
    font-size:24px;
    width:24px;
    height:24px;
    user-select:none;
    -webkit-user-select:none;
}

.folder-cont{
    display:flex !important;
    flex-direction:column !important;

    background-color:var(--bg-folder);
    padding:0.5rem;
    border-radius:7px;
    margin-bottom:5px;
    border:solid 1px var(--border-folder);

    transition:all 0.3s ease-out;
}
.folder-cont .icon-open{
    /* transition:rotate 0.2s cubic-bezier(.82,.59,.69,1.59); */
    transition:rotate 0.2s cubic-bezier(.82,.59,.69,1.59);
}
.folder-cont > div:first-child{
    margin:-0.5rem;
    padding:0.5rem 0.5rem;
    background-color:var(--bg-folder);
    border:none;
}
.folder-cont.open > div:first-child{
    /* border-bottom-left-radius:0px; */
    /* border-bottom-right-radius:0px; */
}
.folder-cont > div:last-child{
    padding-top:1rem;
}

.none{
    display:none !important;
}

.main > div:not(:nth-child(1)){
    opacity:0;
    translate:0px 0px;
    /* transition:opacity 0.5s ease-out; */
}
.main > div:not(:nth-child(1)){
    /* animation:FadeIn 0.5s cubic-bezier(.64,.41,.22,.84); */
    /* opacity:1; */
}
.main > div:nth-child(1){
    animation-delay:0s;
}
.main > div:nth-child(2){
    animation-delay:0.1s;
}
.main > div:nth-child(3){
    animation-delay:0.175s;
}

.fade-in-anim{
    animation:FadeIn 0.5s cubic-bezier(.64,.41,.22,.84);
}

.fade-away{
    /* opacity:0; */
}

@keyframes FadeIn {
    0%{
        opacity:0;
        translate:0px 50px;
    }
    25%{
        opacity:0;
    }
    50%{
        opacity:1;
    }
    60%{
        opacity:1;
        translate:0px 0px;
    }
    100%{
        opacity:1;
    }
}

.title-main{
    text-transform:capitalize;
}

.codeDiv{
    position:relative;
}
.codeDiv > *{
    margin:0.5em 0px;
    /* position:absolute; */
    /* width:100%; */
}
.codeDiv textarea{
    opacity:0.5;
    top:-0.5em;
    left:0px;
    width:100%;
    height:calc(100% - 0.5em);
    position:absolute;
    resize:none;

    caret-color:var(--text);
    color:transparent;
    background-color:transparent;
    user-select:none;
    -webkit-user-select:none;
    border:none;
    outline:none;

    font-size:14px;

    padding:1em;
    /* font-size:1em; */
    tab-size:4;
    white-space:pre;
    /* font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace; */
    font-family:monospace;
    line-height:1.5;
    hyphens:none;

    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;

    overflow:hidden;

    pointer-events:none;
}
pre{
    font-family:monospace !important;
}
code{
    font-family:monospace !important;
}

/* Progress */
.progress-list{
    
}
.progress-list > div{
    padding:0.5rem;
    border:solid 1px gray;
    border-radius:5px;
    background-color:rgba(0,0,0,0.05);
}
.progress-list > div:hover{
    background-color:rgba(0,0,0,0.2);
}

.select-menu{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    margin-top:2rem;
    /* height:700px; */
    /* height:50vh; */
    min-height:500px;
    height:75vh;
    /* height:minmax(75vh,500px); */
    z-index:5;

    display:flex;
    gap:1rem;
    max-width:calc(100vw - 2rem);
}
.select-menu .card{
    background-color:white;
    /* border:solid 1px gray; */
    border-radius:8px;
    box-shadow:0px 2px 5px rgba(0,0,0,0.2);
    padding:0.5rem;
    display:flex;
    flex-direction:column;
}
.select-menu .card.lesson-list-cont{
    grid-row-end:2;
    width:300px;
}
.select-menu .card.lesson-desc{
    width:600px;
    height:50%;
}
.select-menu .card.lesson-prev{
    width:600px;
    height:50%;
}
.lesson-list{
    display:flex;
    flex-direction:column;
    overflow-y:auto;
    height:100%;
    font-size:14px;
    gap:0.25rem;
    background:var(--bg-folder);
    border-radius:5px;
    padding:0.5rem;
}
.lesson-list > div{
    padding:0.6rem 1rem;
    background-color:var(--layer-1);
    /* background-color:white; */
    /* background:var(--bg-folder); */
    /* border:solid 1px var(--border2-folder); */
    border-radius:5px;
    /* box-shadow:0px 1px 3px rgba(0,0,0,0.2); */
    cursor:default;

    transition:background-color 0.1s ease-out;

    /* animation:ShowLesson 0.2s cubic-bezier(0.1,0,0,1); */
}
.lesson-list > div.section{
    padding-left:38px;
    background-color:var(--bg-folder);
    position:relative;
}
.lesson-list > div.section::before{
    content:">";
    font-family:monospace;
    left:15px;
    font-size:18px;
    line-height:1;
    position:absolute;
}
.lesson-list > div.sel{
    color:white;
    background:var(--grad-primary);
}
.lesson-list > div:hover{
    background-color:white;
    color:black;
}
.card-title{
    margin-bottom:0.5rem;
    font-size:16px;
    /* background-color:var(--layer1); */
    padding:0.25rem 1rem;
    border-radius:5px;
}
.lesson-crumbs{
    display:flex;
    gap:0.5rem;
    font-size:13px;
    /* padding:0.5rem 0.75rem; */
    padding:0.5rem 0px;
    /* width:100px; */
    flex-wrap:wrap;
}
.lesson-crumbs > div{
    background-color:var(--layer1);
    border-radius:5px;
    padding:0.25rem 0.75rem;
    cursor:default;
    transition:background-color 0.1s ease-out;
    position:relative;
    margin-right:10px;
    white-space:nowrap;
}
.lesson-crumbs > div:not(:last-child)::after{
    content:">";
    font-family:monospace;
    position:absolute;
    right:-12.5px;
    color:#333;
}
.lesson-crumbs > div:hover,
.lesson-crumbs > div:last-child{
    background-color:var(--layer2);
}

@keyframes ShowLesson {
    0%{
        transform:translateY(5px);
        /* transform:translateY(10px); */
        opacity:0;
    }
    100%{
        opacity:1;
        transform:translateY(0px);
    }
}

.blur{
    filter:blur(10px);
    pointer-events:none;
    user-select:none;
    -webkit-user-select:none;
}
.v-group{
    display:flex;
    flex-direction:column;
    gap:1rem;
}