:root{
    --border:solid 1px #ccc;
    /* --bg:rgb(246, 242, 240); */
    /* filter:invert(1); */
}
body{
    background-color:var(--bg,whitesmoke);
}
.main{
    width:100%;
    display:flex;
    gap:1rem;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    display:flex;
    align-items:center;
    height:40px;
}
.main > div{
    /* flex-shrink:0; */
    /* display:flex; */
    /* flex-direction:column; */
}
.sidebar{
    width:300px;
    /* border:solid 1px gray; */
}
.sidebar h1{
    font-size:22px;
    padding:0.5rem;
}
.challenge-list > div{
    padding:0.5rem 1.5rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
    user-select:none;
    background-color:white;
    border-radius:5px;
    margin-bottom:5px;
    border:solid 1px #ccc;
}
.challenge-list > div:hover{
    filter:brightness(0.95);
}
.challenge-list > div:active{
    filter:brightness(0.9);
}
.challenge-list > div.sel{
    background-color:dodgerblue;
    border-color:rgb(27, 122, 218);
    color:white;
}
.content{
    width:calc(50% - 170px);
}
.code{
    width:calc(50% - 170px);
}

#frame{
    border-radius:5px;
    width:100%;
    /* height:100%; */
    min-height:calc(100vh - 100px);
    background-color:white;
}

code{
    font-size:14px !important;
}
code span{
    line-height:0.5 !important;
}

.file-title{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
button{
    padding:0.5rem 1.5rem;
    border:solid 1px #ccc;
    background-color:white;
    border-radius:5px;
}
button:hover{
    filter:brightness(0.95);
}
button:active{
    filter:brightness(0.9);
}

.flx{
    display:flex;
    justify-content:space-between;
}

pre{
    background:white !important;
    border-radius:5px;
}

/*  */

.dropdown{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:fixed;
    left:0px;
    top:0px;
    min-width:100px;
    padding:5px;
    /* background-color:rgb(255, 246, 246); */
    background-color:whitesmoke;
    border-radius:8px;
    z-index:999;
    user-select:none;
    -webkit-user-select:none;
    display:flex;
    flex-direction:column;
    gap:5px;
    box-shadow:0px 3px 10px 0px rgba(0,0,0,0.1);
    font-size:14px;
    border:var(--border);
}
.dropdown-item{
    padding:0.5rem 1.5rem;
    /* background-color:rgb(249, 233, 233); */
    background-color:white;
    border-radius:5px;
    cursor:pointer;
    /* border:var(--border); */
}
.dropdown-item:hover{
    filter:brightness(0.95);
}

.back{
    position:fixed;
    left:0px;
    top:0px;
    width:100vw;
    height:100vh;
    pointer-events:none;
    z-index:1;
}
.overlay{
    position:absolute;
    top:0px;
    left:0px;
    z-index:2;
}

.dd-btn{
    font-family:Arial;
    padding:0.5rem 1.5rem;
    border:solid 1px #ccc;
    background-color:white;
    border-radius:5px;
    font-size:13.3px;
    font-weight:normal;
}
.dd-btn:hover{
    filter:brightness(0.95);
}
.dd-btn:active{
    filter:brightness(0.9);
}